<div class="toolbar">
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span (click)="abrirHome()" class="span-hover">Students management</span>
        <span class="right-align">{{currentRouteSegment}}</span>
        <span class="right-align">{{currentUser}}</span>
    </mat-toolbar>      
</div>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #sidenav class="example-sidenav" mode="side">
      <div (click)="abrirAlumnos()" class="button-menu">
        <span class="span-hover">Students</span>
      </div>
      <hr>
      <div (click)="abrirCursos()" class="button-menu">
        <span class="span-hover">Courses</span>
      </div>
      <hr>
      <div (click)="abrirInscripciones()" class="button-menu">
        <span class="span-hover">Enrollments</span>
      </div>
      <hr>      
      <div (click)="abrirUsuarios()" class="button-menu" *ngIf="isAdmin$ | async">
        <span class="span-hover">Users</span>
        <hr>  
      </div>  
      <div (click)="logout()" class="button-menu">
        <span class="span-hover">logout</span>
      </div>
      <hr>      
    </mat-drawer>      
    <div class="example-sidenav-content main-content">
      <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
