<h2 mat-dialog-title class="modal-title">Student Details</h2>
<mat-dialog-content>
  <p class="modal-content"><strong>Name:</strong> {{ data.name }}</p>
  <br/>
  <p class="modal-content"><strong>Lastname:</strong> {{ data.lastname }}</p>
  <br/>
  <p class="modal-content"><strong>Email:</strong> {{ data.email }}</p>
  <br/>
  <p class="modal-content"><strong>Score:</strong> {{ data.score }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close class="btn btn-secondary">Close</button>
</mat-dialog-actions>