<div class="row">
    <div class="col-12" style="width: 50rem">
      <h1 bigTitle>List of classes</h1>
      <mat-progress-bar mode="indeterminate" *ngIf="!dataLoaded; else contentClases"></mat-progress-bar>
      <ng-template #contentClases>
        <button class="btn btn-dark mb-4" (click)="addNewClase()">Add new class</button>
        <form [formGroup]="searchForm" class="form-inline my-2 my-lg-0 mb-1">
          <input type="text" formControlName="searchQuery" class="form-control mr-sm-2" placeholder="Search by subject or teacher">
        </form>
        <table class="custom-table mt-2">
          <thead>
            <tr>
              <th>ID</th>
              <th>Subject</th>
              <th>Teacher</th>
              <th>Schedule</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let clases of filteredClases$ | async">
              <td>{{ clases.id }}</td>
              <td (click)="showClaseDetails(clases)" style="cursor:pointer">{{ clases.subject }}</td>
              <td>{{ clases.teacher }}</td>
              <td>{{ clases.schedule }}</td>
              <td>
                <button class="btn btn-edit" (click)="editClase(clases)" *ngIf="check_admin()">Edit</button>
                <button class="btn btn-delete" (click)="deleteClase(clases.id)" *ngIf="check_admin()">Delete</button>
                <button class="btn btn-edit" (click)="showClaseDetails(clases)">Show</button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>  
    </div>
</div>